##  -- Application Specific -- ##
input
output

## -- Windows -- ##
Thumbs.db
Desktop.ini

## -- Python -- ##
*.py[co]
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
pip-log.txt

## -- Crapple -- ##
# Mac crap
.DS_Store

